<!-- views/home.handlebars -->
{{#if user}}
  <div class="jumbotron">
    <h1>Orchestrate User Authentication</h1>
    <p>Below is your profile information!</p>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Profile Information</h3>
    </div>
    <div class="panel-body">
      <p>Username: {{user.username}}</p>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Your Clips</div>
    <div class="panel-body">
      <div class="user-clips">
      </div>

      <div id="user-clip-upload">
        <div class="alert alert-danger" id="file-error"
             role="alert">
          <span class="glyphicon glyphicon-exclamation-sign"
                aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          <span id="error-text"></span>
        </div>

        <div id="file-upload-section">
          <input type="file" name="clip" id="file-select">
          <label for="NameBox">Name: </label>
          <input type="text" id="file-name"><br>
          <input type="submit" class="btn btn-primary btn-sm"
                 value="Upload" id="upload-button"/>

          <div id="upload-progress"></div>
        </div>
      </div>

    </div>
  </div>

{{else}}
  <div class="jumbotron">
    <h1></h1>
    <p>Sign in to view your profile!</p>
    <p>
      <a href="/signin" class="btn btn-primary btn-lg" role="button">
        <span class="glyphicon glyphicon-user"></span> 
        Sign in!
      </a>
    </p>
  </div>

{{/if}}